---
layout: layouts/base.njk
title: Message sent
permalink: /contact/thanks/
eleventyExcludeFromCollections: true
---
<div class="wrap section not-found">
  <span class="sticky sticky-green">MessageSent</span>
  <h1>Thanks, your message is on its way.</h1>
  <p class="lede">I will get back to you by email. Meanwhile, have a look at the <a href="/notes/">notes</a> or head back <a href="/">home</a>.</p>
</div>
